/* CSS Document */

/*copyright ElevateIPS 2015*/

/* ElevateIPS color palette
#2A26FF     rgb(42, 38, 255)  MELLOW ORANGE
#FF5628     rgb(255, 86, 40)  VIBRANT BLUE
#646266     rgb(100, 98, 102)  DULL GRAY
#7B798F     rgb(123, 121, 143) BLUE GREY*/


/*Fonts*/


@font-face {
 
}

@font-face {
  
}

/*Global styles -----------------------------------------------------------------------------------------------------------*/

/*limited reset by James Williamson http://www.simpleprimate.com/*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align:baseline;
  font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
  display: block;
}

html {
  background: rgb(123, 121, 143);
}

body {
  font: 100% , Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #fff;
  color: rgb(76, 67, 65);
  font-weight:normal;
  font-style:normal;
}

nav ul {
  list-style: none;
}

/*header styles*/
header {
  background: rgb(100, 98, 102);
  width: 100%;
  padding-top: 1px;
  overflow: hidden;
  margin-bottom: 1.5em;
}

header h1 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  border: none;
  color: white;
}
header a:hover {
  border: none;
  color: white;
}

/*nav styles*/
nav {
  overflow: hidden;
  margin-bottom: 1.5em;
}

nav li {
  float: left;
}

nav a {
  text-transform: uppercase;
  display: block;
  color: rgb(76, 67, 65);
  border: none;
}

nav a:hover {
  color: rgb(123, 121, 143);
}

nav a.current {
  color: rgb(123, 121, 143);
  cursor: default;

/*footer styles*/

/*mobile styles*/
@media only screen and (max-width:480px) {
  
}

/* USe if needed 
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.layout-body {
  display: flex;
  flex: 1;
}

.layout-content {
  flex: 1;
}

.layout,
.layout-body {
  display: flex;
  flex-direction: column;
}

/*Nav Styles*//*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

a {
    display: block;
    width: 60px;
}

@media (min-width: 768px) {
  .layout-body {
    flex-direction: row;
    flex: 1;
  }
  .content {
    flex: 1;
  }
  .nav {
    /* 12em is the width of the columns *
    flex: 0 0 12em;
  }
}